<div data-controller="page-transition" class="w-full h-full flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold">Films (<%= @total_films %>)</h1>

    <%= form_tag films_path, method: :get do %>
        <%= label_tag :count, "Number of films to show:" %>
        <%= select_tag :count, 
                    options_for_select([1, 3, 5, 10], @limit), 
                    onchange: 'this.form.submit()' %>
    <% end %>

    <ul id="films" class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <% @films.each do |film| %>
        <a
            href="https://www.criterionchannel.com/<%= film.title.downcase.match?(/episode|part/) ? "videos/" : ""%><%= film.title
            .downcase
            .tr("’'", "-")
            .gsub(/[;:().!]/, "")
            .gsub(/\s+/, "-")
            .gsub(/-+/, "-")
            .gsub(/^-|-$/, "") %>"
            target="_blank">
            <li class="bg-white rounded-lg shadow p-6 flex flex-col items-center" data-page-transition-target="filmItem">
                <img alt="<%= film.title %>" src="<%= film.img_url %>" class="mb-5"/>
                <h2 class="text-xl font-semibold"><%= film.title %></h2>
                <p class="text-gray-600"><%= film.director %></p>
                <span class="text-gray-600"><%= film.year %></span>
            </li>
        </a>
    <% end %>
    </ul>
</div>

